.calculatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #a3573b;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
}

.leftItem,
.rightItem {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  color: #f5f5f5;
  margin-bottom: 8px;
}

.input {
  width: 100px;
  text-align: center;
  font-size: 1rem;
  background: #2a2a2a;
  border: 1px solid #555;
  border-radius: 5px;
  color: #f5f5f5;
  padding: 4px;
}

.input.noArrows::-webkit-outer-spin-button,
.input.noArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radioLabel {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #f5f5f5;
  margin: 8px 0;
}

.radio {
  margin-right: 8px;
}

.resultBox {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 1rem;
}

.resultItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #f5f5f5;
}

.resultParagraph {
  margin-bottom: 10px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
}

.rangeSlider,
.resultSlider {
  width: 100%;
  margin-top: 10px;
  appearance: none;
  height: 10px;
  background: #1e1e1e;
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.rangeSlider:hover,
.resultSlider:hover {
  opacity: 1;
}

.rangeSlider::-webkit-slider-thumb,
.resultSlider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #a3573b;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
}

.rangeSlider::-moz-range-thumb,
.resultSlider::-moz-range-thumb {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background: #a3573b;
  height: 20px;
  width: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #2a2a2a;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 500px;
  text-align: center;
  color: #f5f5f5;
  outline: none;
  transition: border 0.3s ease;
}

.modalContent:focus-visible {
  border: 2px solid #8c4c35;
}

.modalContent h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #a3573b;
  font-weight: bold;
}

.modalContent input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #555;
  background: #1e1e1e;
  color: #f5f5f5;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.calculateButton,
.closeButton {
  flex: 1;
  margin: 0 5px;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calculateButton {
  background-color: #a3573b;
}

.calculateButton:hover {
  background-color: #8c4c35;
}

.closeButton {
  background-color: #171717;
}

.closeButton:hover {
  background-color: #0d0d0d;
}
